.dancing-script {
    font-family: 'Dancing Script', cursive;
}

.pacifico {
    font-family: 'Pacifico', cursive;
}

.caveat {
    font-family: 'Caveat', cursive;
}

.permanent-marker {
    font-family: 'Permanent Marker', cursive;
}

.sacramento {
    font-family: 'Sacramento', cursive;
}

.monsieur {
    font-family: 'Monsieur La Doulaise', cursive;
}

.mrs-saint {
    font-family: 'Mrs Saint Delafield', cursive;
}

.great-vibes {
    font-family: 'Great Vibes', cursive;
}

.pinyon {
    font-family: 'Pinyon Script', cursive;
}

.allura {
    font-family: 'Allura', cursive;
}

.parisienne {
    font-family: 'Parisienne', cursive;
}

.alex-brush {
    font-family: 'Alex Brush', cursive;
}